[submodule "jwt-server"]
	path = jwt-server
	url = https://github.com/US-CYBER-PI/jwt-server
	branch = master
[submodule "merchant-server"]
	path = merchant-server
	url = https://github.com/US-CYBER-PI/merchant-server.git
	branch = master
